@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 71%, 35%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Dark-blue: hsl(224, 21%, 14%);
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--Light-grayish-blue);
}

.container {
  margin: 2rem;
  width: 700px;
  background-color: var(--White);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.notif_box {
  display: flex;
  align-items: center;
}

#notifes {
  background-color: var(--Blue);
  margin-left: 0.5rem;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: var(--White);
  font-weight: 800;
  border-radius: 0.5rem;
}

#mark_all {
  cursor: pointer;
  color: var(--Dark-grayish-blue);
  transition: color 0.3s;
}

#mark_all:hover {
  color: var(--Blue);
}

p {
  color: var(--Dark-grayish-blue);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notification_card {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

.notification_card:hover .user_activity a {
  color: var(--Blue);
}

img {
  width: 50px;
  cursor: pointer;
}

.description {
  flex: 1;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

strong {
  color: var(--Dark-blue);
  cursor: pointer;
}

strong:hover {
  color: var(--Blue);
}

.unread {
  background-color: var(--Light-grayish-blue-1) !important;
}

.unread p:first-of-type::after {
  content: " ";
  background-color: var(--Red);
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.message_card {
  display: flex;
  align-items: center;
}

.message {
  padding: 2rem;
  border: 1.5px solid var(--Light-grayish-blue-2);
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 0 0 0 5rem;
  margin-right: 2rem;
  transition: background-color 0.3s;
}

.message:hover {
  background-color: var(--Light-grayish-blue-1);
}

.chess_img {
  margin-left: auto;
  align-self: flex-end;
  max-width: 50px;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 0;
  }
}
